@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');

*{
    font-family: 'Noto Sans JP', sans-serif;
}


.container > main { 
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(119, 96, 96, 0.2);
}

.container{ 
    margin-top: 20px; 
    font-weight: 800;   
}

.container > main > table{ 
   align-items: center;
   text-align: center;   
}

.container > main > div.titulo{
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar > div > a{
    color: white;
}
